<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<br>

	<center>
	<form action="/submitWholeSaler" id="textform" method="post">
		<div class="form-group sizediv">
		<!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
		<textarea class="form-control" name="content" rows="4" cols="100" placeholder="Enter Crop Details"></textarea>
	</div>
			<!-- <textarea name="content" rows="4" cols="50" placeholder="Enter Crop Details"></textarea> -->
			<br>
			<div class="form-group idin">
				<input class="form-control form-control-lg mar" name="WholeSaler_ID" type="text" placeholder="Wholesaler ID">
				<input class="form-control form-control-lg mar" name="transaction_ID" type="text" placeholder="Transaction ID">
				<input class="form-control form-control-lg mar" name="product_Number" type="text" placeholder="Product Number">
			</div>

			<!-- <input type="text" name="farmer_ID" placeholder="Farmer ID">
			<input type="text" name="transaction_ID" placeholder="Transaction ID"> -->
			<input type="submit" class="btn-lg btn-dark mar" value="Post">
	    <!-- <textarea name="content" rows="4" cols="50" placeholder="Enter Crop Details"></textarea>
	    <br>
	    <input type="text" name="WholeSaler_ID" placeholder="wholesaler Id">
	    <input type="text" name="transaction_ID" placeholder="Transaction ID">
	    <input type="text" name="product_Number" placeholder="Product Number">
		<input type="submit" value="Post"> -->
	</form>
	</center>
	<div style="margin: 20px;">

	<style>
		body{
			background-color: #4158D0;
	 background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

			 /* background: rgb(0,176,155);
		 background: linear-gradient(0deg, rgba(0,176,155,1) 0%, rgba(150,201,61,1) 100%); */
			 /* background: url(bg.jpg) no-repeat center center fixed; */
			 /* -webkit-background-size: cover;
			 -moz-background-size: cover;
			 -o-background-size: cover;
			 background-size: cover; */
		}
		.idin{
			margin:0 30%;
		}
		.sizediv{
			margin:1% 10%;
		}
		.mar{
			margin:1% 0;
		}
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 16px;
		    margin-bottom: 8px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>
    </div>
{% endblock %}
